{% extends 'base_courses.html' %}
		{% load staticfiles %}
		{% block css %}
		<link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet" />
		{% endblock css %}
		{% block content %}

		<div class="col-lg-4">
			<a href= "http://sofer.waksman.rutgers.edu/LLI16/"><h3>Cloning and Stem Cells - LLI '17</h3></a>
		</div>
		
		<div class="col-lg-4">
				<a href= "http://sofer.waksman.rutgers.edu/Sage/"><h3>Cloning and Stem Cells - Sage '15</h3></a> 
		</div>
		
		<div class="col-lg-4">
			<a href= "http://sofer.waksman.rutgers.edu/Quest/"><h3>Cloning and Stem Cells - Quest/Forum '16/'15</h3></a>
		</div>
		
		<div class="col-lg-4">
			<a href= "http://sofer.waksman.rutgers.edu/Nova/"><h3>Genetic Disorders - Nova '15</h3></a>
		</div>
		
		<div class="col-lg-4">
			<a href= "http://sofer.waksman.rutgers.edu/LLI/"><h3>Secret of Life - LLI '15</h3></a>
		</div>
		{% endblock content %}

			<div>
			<p>Not yet implemented</p>
			</div>
